<html>
<div class="below bg-dark text-white p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium debitis expedita rerum ipsum animi voluptate repellendus voluptatibus enim, quo quos consequuntur, ab quis optio qui perspiciatis placeat architecto? Odit, itaque. Consectetur quisquam minus consequuntur corporis quas dolorem assumenda sequi accusamus possimus culpa laboriosam doloribus nisi ipsam, minima praesentium porro perspiciatis!</p>
            </div>
        </div>
    </div>
</div>
</html>